<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid my-4 rounded position-relative ">
        <div class="position-absolute  start-0 m-4 title-banner">
            <h1 >គាំទ្រផលិតផលខ្មែរ</h1>
            <h4 >ជួយទាំងសេដ្ឋកិច្ចជាតិ ជួយទាំងជនរួមជាតិ</h4>
            <span class="shop-now-btn d-block mt-3">
                <a href="#" class="btn btn-success">Shop Now</a>
            </span>
        </div>
        <img src="~/assets/banner-3.jpg" alt="Banner" class="img-fluid w-100 rounded shadow-sm">
    </div>

</body>

</html>