<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="pt-5 d-flex justify-content-start">
        <i class="bi bi-fire fs-3 me-2 text-danger"></i>
        <h2 class="text-center">New Products</h2>

    </div>
</body>

</html>