@{
    ViewData["Title"] = "Contact US Page";
}

<div class="text-center">
    @await Html.PartialAsync("partials/Banner.cshtml")
    @await Html.PartialAsync("partials/Content.cshtml")
    @await Html.PartialAsync("partials/TopSell.cshtml")
</div>